<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="container">
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#DadosPessoais">Dados Pessoais</a></li>
				<li><a href="#FormacaoAcademica">Formação Acadêmica</a></li>
				<li><a href="#FormacaoComplementar">Formação Complementar</a></li>
				<li><a href="#ConhecimentosTecnicoseIdiomas">Conhecimentos
						Técnicos e Idiomas</a></li>
				<li><a href="#TrajetoriaProfissional">Trajetória
						Profissional</a></li>
				<li><a href="#AtividadesAcademicas">Atividades Acadêmicas</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">

	<div class="page-header">
		<h2 class="text-center">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Geovan Goes
		</h2>
	</div>

	<div class="row" id="DadosPessoais">
		<!--Endereço-->
		<div class="col-md-3">
			<address class="text-right">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
				Rua José Dias da Costa <br />São Paulo, SP - 05661-060
			</address>
		</div>

		<!--Contato-->
		<div class="col-md-9 text-right">
			23 anos, solteiro, não fumante<span class="glyphicon glyphicon-user"
				aria-hidden="true"></span><br /> (11) 9 8976-2229<span
				class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
			<a href="mailto:geovansilvagoes@gmail.com">geovansilvagoes@gmail.com<span
				class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
		</div>
	</div>

	<!--Objetivo-->
	<div class="alert alert-success text-center" role="alert">Desenvolvedor</div>

	<app-formacao-academica [formacoesAcademicas]="formacoesAcademicas"></app-formacao-academica>


	<!--Formação complementar-->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 id="FormacaoComplementar" class="panel-title">Formação
				Complementar</h3>
		</div>
		<div class="panel-body">

			<dl class="dl-horizontal">

				<!--SENAC Vendas-->
				<br />
				<dt>
					<a href="http://www.sp.senac.br/" target="_blank">SENAC</a>
				</dt>
				<dd>
					<strong>Técnico - Gestão em Vendas</strong>
				</dd>
				<dd>
					<img class="glyphicon-png" src="_img/glyphicons-education.png" />
					Concluído em 2010
				</dd>


				<!--ESPRO-->
				<br />
				<br />
				<dt>
					<a href="http://www.espro.org.br/" target="_blank">ESPRO</a>
				</dt>
				<dd>
					<strong>Técnicas Bancárias</strong>
				</dd>
				<dd>
					<img class="glyphicon-png" src="_img/glyphicons-education.png" />
					Concluído em 2009
				</dd>

				<!--AOB-->
				<br />
				<br />
				<dt>
					<a href="http://www.obradoberco.org.br/" target="_blank">AOB</a>
				</dt>
				<dd>
					<strong>Gestão Pessoal e Empresarial</strong>
				</dd>
				<dd>
					<img class="glyphicon-png" src="_img/glyphicons-education.png" />
					Concluído em 2007
				</dd>
				<dt>
					<small>Associação Obra do Berço</small>
				</dt>
			</dl>
		</div>
	</div>


	<!--Outros Conhecimentos-->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 id="ConhecimentosTecnicoseIdiomas" class="panel-title">Conhecimentos
				Técnicos e Idiomas</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-4">
					<ul class="list-group">
						<li class="list-group-item active text-center">Linguagens e
							Conceitos</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							JAVA Web/Desktop</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Programação Orientada a Objetos</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Metodologias de Desenvolvimento Ágil</li>
						<li class="list-group-item"><span class="badge">Básico</span>
							PHP</li>
						<li class="list-group-item"><span class="badge">Básico</span>
							SQL</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							HTML 5</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							CSS 3</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Javascript</li>

					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-group">
						<li class="list-group-item active text-center">Frameworks,
							Bibliotecas, Padrões e Sistemas Operacionais</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Spring Framework</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Hibernate 4</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							JPA</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							CDI</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							jQuery</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Bootstrap</li>
						<li class="list-group-item"><span class="badge">Básico</span>
							JSF</li>
						<li class="list-group-item"><span class="badge">Básico</span>
							EJB</li>
						<li class="list-group-item"><span class="badge">Básico</span>
							Primefaces</li>
						<li class="list-group-item"><span class="badge">Avançado</span>
							MVC</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Linux Ubuntu/Debian</li>
						<li class="list-group-item"><span class="badge">Avançado</span>
							Windows 7/8/10</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-group">
						<li class="list-group-item active text-center">Idiomas e
							Ferramentas de Escritório</li>
						<li class="list-group-item"><span class="badge">Nativo</span>
							Português</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							Inglês - Escrita/Leitura</li>
						<li class="list-group-item"><span class="badge">Básico</span>
							Inglês - Conversação</li>
						<li class="list-group-item"><span class="badge">Básico</span>
							Espanhol</li>

						<li class="list-group-item"><span class="badge">Intermediário</span>
							MS Access</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							MS Excel</li>
						<li class="list-group-item"><span class="badge">Intermediário</span>
							MS Word</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!--Trajetória profissional-->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 id="TrajetoriaProfissional" class="panel-title">Trajetória
				Profissional</h3>
		</div>
		<div class="panel-body">

			<dl class="dl-horizontal">
				<!--IBFC-->
				<dt>
					<a href="http://www.ibfc.org.br/" target="_blank">IBFC</a> - <small>Inst.
						Bras. de</small>
				</dt>
				<dt>
					<small>Formação e Capacitação</small>
				</dt>
				<dd>
					<strong>Analista de Suporte Computacional </strong>05/2014 -
					06/2015
				</dd>
				<dd>Análise/Processamento de dados</dd>
				<dd>Desenvolvimento de pequenas aplicações para uso interno
					(PHP)</dd>

				<!--Tecnomira-->
				<br />
				<dt>
					<a href="http://www.tecnomira.com.br/" target="_blank">Tecnomira</a>
				</dt>
				<dd>
					<strong>Técnico em Eletrônica </strong>04/2013 - 05/2014
				</dd>
				<dd>Manutenção em controles remotos industriais e em paralelo</dd>
				<dd>Desenvolvimento de aplicações para uso interno (JAVA)</dd>

				<!--Control Service-->
				<br />
				<dt>
					<a href="http://www.controlservice.com.br/" target="_blank">Control
						Service</a>
				</dt>
				<dd>
					<strong>Técnico em Eletrônica </strong>04/2012 - 04/2013
				</dd>
				<dd>Manutenção em terminais eletrônicos para fim de pagamento</dd>
				<dd>Experiência com solda de componentes SMD</dd>

				<!--Santander/Real-->
				<br />
				<dt>
					<a href="http://www.fundap.sp.gov.br/" target="_blank">Santander/Real</a>
				</dt>
				<dd>
					<strong>Aprendiz - Auxiliar Administrativo – Marketing</strong>
				</dd>
				<dd>Organização de material publicitário</dd>
				<dd>Elaboração de planilhas de controle para material
					distribuído</dd>
				<dd>Elaboração da base de dados para confecção de relatórios.</dd>

			</dl>

		</div>
	</div>

	<!--Atividades Acadêmicas-->
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 id="AtividadesAcademicas" class="panel-title">Atividades
				Acadêmicas</h3>
		</div>
		<div class="panel-body">
			<p>
				<strong>Projeto Integrador IV -</strong> Desenvolvido durante o 1º
				semestre de 2015
			</p>
			<p>
				<strong>Introdução - </strong>Desenvolvimento de um sistema <strong>Web</strong>
				que permita a escolha de um veículo, personalização do veículo
				escolhido e ao final de tudo emitir um descritivo do pedido com o
				endereço da concessionária mais próxima(previamente cadastrada no
				sistema).
			</p>
			<p>Foram implementados CRUDS para o cadastro de veículo,
				concessionárias, acessórios e kits de acessórios. Regras de negócio
				foram implementadas conforme o case apresentado pela banca.
				Estatísticas de acesso e relatórios diversos foram implementados.</p>
			<p>
				<strong>Tecnologias utilizadas nesse projeto:</strong>
			</p>
			<p>
				Projeto desenvolvido em linguagem <strong>JAVA</strong> utilizando
				conceitos de <strong>Orientação a Objetos</strong>, o <strong>Spring
					Framework</strong> foi utilizado. Para as views utilizei <strong>JSP</strong>,
				<strong>HTML5</strong>, <strong>CSS3</strong>, <strong>Bootstrap</strong>,
				<strong>JQuery</strong> e <strong>AJAX</strong>.
			</p>
			<p>
				A persistência foi feita seguindo a espeficicação <strong>JPA</strong>
				a ferramenta escolhida foi o <strong>Hibernate</strong> e as
				transações foram gerenciadas pelo <strong>Spring ORM</strong>. <strong>Injeção
					de dependência </strong>do Spring foi utilizado. Padrões de projeto como <strong>MVC</strong>(Model,
				view e controller), <strong>Singleton</strong>, <strong>EAO</strong>(Entity
				Access Object) e <strong>Factory</strong> foram aplicados. O
				conceito de <strong>SOA</strong>(Service-Oriented Architecture) foi
				abordado. Durante o desenvolvimento do projeto foi utilizado o <strong>GitHub</strong>
				para controle de versão.
			</p>

			<br /> <br /> <br />

			<p>
				<strong>Projeto Integrador III -</strong> Desenvolvido durante o 2º
				semestre de 2014
			</p>
			<p>
				<strong>Introdução - </strong>Desenvolvimento de um pequeno sistema
				desktop para fins avaliativos, onde o case apresentado pela banca
				englobava diversos setores de uma empresa fictícia de varejo. Todos
				os setores deveriam ser atendidos pelo sistema desenvolvido.
				Vendas, Caixa, Administrativo, Estoque, Gerência e Logística foram
				os setores atendidos.
			</p>
			<p>CRUDS, regras de negócio e relatórios foram implementados
				nesse projeto.</p>
			<p>
				Projeto executado utilizando a metologia ágil <strong>SCRUM</strong>,onde
				eram feitas entregas de pequenas partes do projeto de acordo com a
				duração de cada Sprint.
			</p>
			<p>
				<strong>Tecnologias utilizadas nesse projeto:</strong>
			</p>

			<p>
				Projeto desenvolvido em linguagem <strong>JAVA</strong>, utilizando
				JAVA Swing para as views, persistência feita em XML, foram
				utilizados conceitos de <strong>Orientação a Objetos</strong> e
				padrões de projeto como <strong>MVC</strong>, <strong>Singleton</strong>,
				<strong>DAO</strong> e <strong>Factory</strong>. Durante o
				desenvolvimento do projeto foi utilizado o <strong>Subversion
					Google Code</strong> para controle de versão.
			</p>
		</div>
	</div>
</div>

