<!--Formação acadêmica-->
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 id="FormacaoAcademica" class="panel-title">Formação Acadêmica</h3>
    </div>
    <div class="panel-body">
        
        <app-formacao 
            *ngFor="let formacaoAcademica of formacoesAcademicas"
            [instituicao]="formacaoAcademica.nomeInstituicao"
            [curso]="formacaoAcademica.nomeCurso"
            [anoConclusao]="formacaoAcademica.anoConlusao"
            [concluido]="formacaoAcademica.concluido">
        </app-formacao>
    </div>
</div>